<div class="sign_out_button pull-right">
  <button class="glyphicon glyphicon-remove" ng-click="logout()"></button>
</div>

<div class="container chat-window">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 panel panel-default">

      <div class="panel-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-9 min-height-450 overflow-scroll" id="js-chat-window">
              <p ng-repeat="chatMessage in chatData track by $index">
                <span ng-class="{'text-danger': chatMessage.type == 'info'}">{{chatMessage.text}}</span>
              </p>
            </div>
            <div class="col-md-3 min-height-450 overflow-scroll">
              <p ng-repeat="person in peopleInChat track by $index">
                <img class="profile-picture" data-ng-src="{{person.image_url || 'placeholder.png'}}" />
                {{person.username}}
              </p>
            </div>
          </div>
        </div>

        <div class="input-group">
          <span class="input-group-addon">&lt;{{username}}&gt;</span>
          <input class="form-control" id="prompt" ng-model="message" type="text" ng-keyup="$event.keyCode == 13 ? sendMessage() : null" ...></input>
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="sendMessage()" type="button">Send</button>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>
