<div ui-view="authenticate">

</div>

<div class="container chat-window">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 panel panel-default">

      <div class="panel-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-9 min-height-450">
              <p ng-repeat="chatMessage in chatData track by $index">
                <span ng-class="{'text-danger': chatMessage.type == 'info'}">{{chatMessage.text}}</span>
              </p>
            </div>
            <div class="col-md-3 min-height-450">
              <p ng-repeat="person in peopleInChat track by $index">{{person}}</p>
            </div>
          </div>
        </div>


        <div class="input-group">
          <span class="input-group-addon">{{username}}></span>
          <input class="form-control" id="prompt" ng-model="message" type="text"></input>
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="sendMessage()" type="button">Send</button>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>
