<div class="container username-prompt">
  <div class="row">
    <button ui-sref="app.login_temp_username" class="btn btn-default">Temporary username</button>
    <button ui-sref="app.login_devise_user" class="btn btn-default">Sign in with password</button>
    <button ui-sref="app.login_facebook" class="btn btn-default active">Sign in with facebook</button>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="modal-header"><h3>Please wait ...</h3></div>
      <div class="modal-body"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
