<div class="container username-prompt">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" ng-click="moveStateRight('app.login_temp_username')"><a href="">Temporary username</a></li>
      <li role="presentation" ng-click="moveStateRight('app.login_devise_user')"><a href="">Sign in with password</a></li>
      <li role="presentation" class="active"><a href="">Sign in with facebook</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="modal-header">
        <alert close="closeAlert($index)" ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
        <div>{{fbLoginStatus}}</div>
      </div>
      <div class="modal-body">
          <div id="fb-root"></div> <!-- Needed for facebook to function properly. See facebook sdk for more info. -->
          <p id="connect">
            <button class="btn btn-lg btn-primary" ng-click="signIn($event)" href="#">Sign in with Facebook</button>
          </p>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
