<div class="container username-prompt">
  <div class="row">
    <button class="btn btn-default active">Temporary username</button>
    <button class="btn btn-default" ng-click="moveStateLeft('app.login_devise_user')">Sign in with password</button>
    <button class="btn btn-default" ng-click="moveStateLeft('app.login_facebook')">Sign in with facebook</button>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="modal-header">
        <h3>Please enter your username</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input class="form-control" id="usernameInput" ng-model="username_prompt"></input>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-block" ng-click="submit($event)" type="button">Submit</button>
      </div>
    </div>
  </div>
</div>
