<div class="container username-prompt">
  <div class="row">
    <button class="btn btn-default" ng-click="moveStateRight('app.login_temp_username')">Temporary username</button>
    <button class="btn btn-default" ng-click="moveStateRight('app.login_devise_user')">Sign in with password</button>
    <button class="btn btn-default active">Sign in with facebook</button>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="modal-header"><h3>Facebook login</h3></div>
      <div class="modal-body">
          <div id="fb-root"></div> <!-- Needed for facebook to function properly. See facebook sdk for more info. -->

          <div>{{fbLoginStatus}}</div>

          <p id="connect">
            <a class="btn btn-primary" ng-click="signIn()" href="#">Signin</a>
          </p>

      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
