= tag(:input, :type => "hidden", :name => 'fb_api_key', :value => @fbconfig['appid'])

.container-fluid.body-wrapper{"ng-app" => 'websocketchat'}
  %ui-view
%footer.footer
  .container
    Łukasz Tenerowicz, 2015, Polcode
