/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

/*
 *= require_tree .
 *= require_self
 */

 .min-height-450 {
   height: 450px !important;
   border: 1px solid #ccc;
 }

body {
  background-color: rgb(255, 255, 255);
  background-image: image-url('Mac1.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.body-wrapper {
  margin-top: 50px;
  opacity: 100%;
}

.username-prompt > .row {
  background-color: rgba(255, 255, 255, 0.8);
}

// CSS3 Effects
.animation-container {
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.moved-up {
  transform: perspective( 500px ) translateY( -300% );
}

.moved-left {
  transform: perspective( 500px ) translateX( -100% );
}

.moved-right {
  transform: perspective( 500px ) translateX( 100% );
}

.moved-down {
  transform: perspective( 500px ) translateY( 300% );
}
