.container
  .row
    .col-md-10.col-md-offset-1
      %h1 Chat app

      .form-group
        .chat-text-area.form-control
          %p{'ng-repeat': 'chatMessage in chatData'} {{chatMessage}}

      .input-group
        %span.input-group-addon {{username}}>
        %input#prompt.form-control{'type': 'text', 'ng-model': 'message'}
        %span.input-group-btn
          %button.btn.btn-default{'type': 'button', 'ng-click': 'sendMessage()'} Send
